<header>
<aside role="navigation" aria-label="Main navigation" class="side-nav">
    <div class="site-branding">
        <a href="{{ relURL "" }}"><img src="{{ "images/dataphys-logo.png" | relURL }}" alt="Site Logo" class="site-logo"></a>
    </div>
    <input id="menu-toggle" type="checkbox" hidden/>
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'>☰</div>
    </label>
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-link" href="{{ relURL "" }}" title="Main Page">
                Main Page
            </a>
        </li>
        {{ range .Site.RegularPages.ByWeight }}
        <li class="menu-item">
            <a class="menu-link" href="{{ .RelPermalink }}" title="{{ .Title }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</aside>


<!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ "styles.css" | relURL }}">
  </header>

